{% extends 'base.html' %}

{% block body %}
<div class="partida container-fluid">
    <header class="row">
        <h1>{{partida.titulo}}</h1>
        <p>{{partida.descricao}}</p>
    </header>
    <div class="partida-card row">
        <h5 class="col-xs-8 col-sm-24">{{partida.campeonato}} - Patch: <b>{{partida.patch}}</b></h5>
        
        <div class="col-xs-3 col-sm-10 blueside">
            <abbr title="{{partida.blueside.nome}}">{{partida.blueside.abreviatura}}</abbr> 
            <img src="{{MEDIA_URL}}{{partida.blueside.imagem}}" width="30">
        </div>
        <div class="col-xs-2 col-sm-4 placar">
            <span class="kill">{{partida.blueside.kill}}</span> 
            <span class="vs">x</span>
            <span class="kill">{{partida.redside.kill}}</span>
        </div>
        <div class="col-xs-3 col-sm-10 redside">
            <img src="{{MEDIA_URL}}{{partida.redside.imagem}}" width="30"> 
            <abbr title="{{partida.redside.nome}}">{{partida.redside.abreviatura}}</abbr>
        </div>
        <span class="status col-xs-8">{{partida.status}}</span>
    </div>

    {% if partida.lances %}
        <ul class="partida-lances container">
            {% for lance in partida.lances %}
                <li class="{% if lance.side %}side{% endif %} {{lance.side}}">
                    <div class="shortcuts">
                        {% if lance.tempo %}
                        <time>{{lance.tempo}}'</time>
                        {% endif %}
                        <div class="status">{{lance.status}}</div>
                    </div>
                    <div class="lance">
                        <h3>{{lance.titulo}}</h3>
                        <p>
                            {{lance.descricao}} 
                            {% if lance.link %}
                                <a href="{{lance.link}}" target="_blank">Leia mais</a>
                            {% endif %}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}