{% extends 'base.html' %}

{% block body %}
<div class="partida">
    <h5>{{partida.campeonato.nome}} - Patch: <b>{{partida.campeonato.patch}}</b></h5>
    
    <div class="partida-card">
        <div class="placar">
            <div class="times blue">
                <div class="bullets">
                    <span class="blue" title="Blue side"></span>
                    <span class="gold" data-text="{{partida.blueside.fgold}} g" title="Quantidade de ouro"></span>
                </div>
                
                <abbr title="{{partida.blueside.nome}}">{{partida.blueside.abreviatura}}</abbr> 
                <img src="{{MEDIA_URL}}{{partida.blueside.imagem}}" width="30">
                
                <div class="bullets">
                    {% for stat in partida.stats.blue %}
                        <span class="{{stat.slug}}" title="{{stat.nome}}"></span>
                    {% endfor %}
                </div>
            </div>
            <div class="score">
                <span class="kill">{{partida.blueside.kill}}</span> 
                <span class="vs">x</span>
                <span class="kill">{{partida.redside.kill}}</span>
            </div>
            <div class="times red">
                <div class="bullets">
                    <span class="red" title="Red side"></span>
                    <span class="gold" data-text="{{partida.redside.fgold}} g" title="Quantidade de ouro"></span>
                </div>

                <img src="{{MEDIA_URL}}{{partida.redside.imagem}}" width="30"> 
                <abbr title="{{partida.redside.nome}}">{{partida.redside.abreviatura}}</abbr>

                <div class="bullets stats">
                    {% for stat in partida.stats.red %}
                        <span class="{{stat.slug}}" title="{{stat.nome}}"></span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="status">{{partida.status}}</div>
        
        <div class="bullets describe">
            <span class="blue" title="Blue side"></span>
            <span class="red" data-text="side" title="Red side"></span>
            <span class="barao" data-text="barão" title="Barão de Nashor"></span>
            <span class="gold" data-text="ouro" title="Quantidade de ouro"></span>
            <span class="dragao-anciao" title="Dragão ancião"></span>
            <span class="dragao-vento" title="Dragão de vento"></span>
            <span class="dragao-oceano" title="Dragão de oceano"></span>
            <span class="dragao-montanha" title="Dragão da montanha"></span>
            <span class="dragao-infernal" data-text="dragões" title="Dragão infernal"></span>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-16">
                <ul class="partida-lances">
                    <li class="fim info">
                        <div class="lance">
                            <h3>{{partida.titulo}}</h3>
                            <p>{{partida.descricao}}</p>
                        </div>
                    </li>
                    {% for lance in partida.lances %}
                    <li class="{% if lance.fim %}fim{% endif %} {% if lance.side %}side{% endif %} {{lance.side}}">
                        {% if not lance.fim %}
                        <div class="shortcuts">
                            {% if lance.tempo %}
                                <time>{{lance.tempo}}'</time>
                            {% elif lance.status %}
                                <div class="status">{{lance.status}}</div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="lance">
                            {% if lance.titulo %}
                                <h3>{{lance.titulo}}</h3>
                            {% endif %}

                            {% if lance.descricao %}
                            <p>
                                {{lance.descricao|safe|linebreaks}} 
                                {% if lance.link %}
                                    <a href="{{lance.link}}" target="_blank">Leia mais</a>
                                {% endif %}
                            </p>
                            {% endif %}
                            
                            {% if lance.conteudo_embed %}
                                {% if lance.embed == 'twitter' %}
                                    <div class="embed {{lance.embed}}">{{lance.conteudo_embed|safe}}</div>
                                {% endif %}
                            {% endif %}
                            
                        </div>
                        
                        {% if lance.imagem %}
                            <div class="image">
                                <img src="{{MEDIA_URL}}{{lance.imagem}}" width="100%" alt="{{lance.titulo}}">
                            </div>
                        {% elif lance.conteudo_embed %}
                            {% if lance.embed == 'youtube' or lance.embed == 'twitch' %}
                                <div class="embed {{lance.embed}}">{{lance.conteudo_embed|safe}}</div>
                            {% endif %}
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% if not partida.lances %}
                        <li class="fim">
                            <div class="lance">
                                <h3>O jogo ainda não começou</h3>
                                <p>O jogo começará em instantes, fique ligado!</p>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}