.partida header {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
}

.partida header h1 {
    font-weight: 300;
    color: #c79a3c;
    margin-bottom: 5px;
}

.partida-card {
    background: #121212;
    padding: 10px 0;
    position: sticky;
    text-align: center;
    z-index: 1;
    top: 0;
}
.partida-card,
.partida-card h5 {
    color: #fff;
}

.partida-card .times.blue {
    text-align: right;
}

.partida-card .times.red {
    text-align: left;
}

.partida-card h5 {
    font-size: 12px;
}

.partida-card .status {
    background: #c79a3c;
    border-radius: 10px;
    color: #000;
    display: inline-block;
    font-size: 10px;
    padding: 0 8px;
    line-height: 2.2;
    text-transform: lowercase;
    margin: 10px 0;
}

.partida-card .legenda {
    font-size: 11px;
}

.partida-card .legenda {
    display: flex;
    justify-content: center;
}

.partida-card .legenda li {
    margin-right: 10px;
}

.partida-card .drag span,
.partida-card .side span,
.partida-card .side:before,
.partida-card .barao:before,
.partida-card .gold:before {
    border-radius: 50%;
    background: #fff;
    content: '';
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
    height: 7px;
    width: 7px;
}

.partida-card .side:before {
    background: #2c6dbd;
}

.partida-card .side span {
    background: #ab1b1b;
}

.partida-card .gold:before {
    background: #c79a3c;
}

.partida-card .barao:before {
    background: #8e17b5;
}

.partida-card .drag .vento {
    background: #ccc;
}

.partida-card .drag .oceano {
    background: #41b3a8;
}

.partida-card .drag .montanha {
    background: #824c15;
}

.partida-card .drag .infernal {
    background: #fd7500;
}

.partida-card .drag .anciao {
    border-radius: 0;
    transform: rotate(45deg);
}

.partida-card abbr {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

.partida-card .placar {
    margin-top: 3px;
}

.partida-card .kill {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

.partida-card .vs {
    font-size: 11px;
    visibility: middle;
}

.partida-lances li {
    display: flex;
    flex-wrap: wrap;
}

.partida-lances .shortcuts {
    border-right: 1px solid #eaeaea;
    flex: 1;
    min-width: 90px;
    max-width: 90px;
    padding: 20px 10px;
    position: relative;
    text-align: center;
}

.partida-lances .shortcuts .status {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 4px;
    text-transform: uppercase;
}

.partida-lances .shortcuts time {
    color: #333;
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
}

.side .shortcuts:after {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 25px;
    right: -5px;
    height: 10px;
    width: 10px;
}

.side.red .shortcuts:after {
    background: #ab1b1b;
}

.side.blue .shortcuts:after {
    background: #2c6dbd;
}

.partida-lances .lance {
    flex: 3;
    padding: 20px;
}

.partida-lances .lance h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.partida-lances .lance p {
    font-size: 15px;
}

.partida-lances .lance a {
    color: #c79a3c;
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}

.partida-lances .lance a:hover {
    text-decoration: none;
}

.partida-lances .fim {
    border-bottom: 1px solid #eaeaea;
}

.partida-lances .fim .lance {
    padding-left: 0;
    padding-right: 0;
}

.partida-lances .embed {
    width: 100%;
}

.partida-lances .lance .embed:not(:first-child) {
    margin-top: 15px;
}

.partida-lances .youtube,
.partida-lances .twitch {
    margin-top: -10px;
    padding-bottom: 62.5%;
    position: relative;
    height: 0;
}

.partida-lances .youtube iframe,
.partida-lances .twitch iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.partida-lances .embed > * {
    width: 100%!important;
    margin-top: 0!important;
}